###########################################################
# AgendaFlow service GIT IGNORE
###########################################################

#######################
# Maven
#######################

target/

#######################
# Quarkus
#######################
.quarkus/

target/

#######################
# Maven Wrapper
#######################

!.mvn/
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
!mvnw
!mvnw.cmd

#######################
# IntelliJ IDEA
#######################

.idea/
*.iml

#######################
# VSCode
#######################

.vscode/

#######################
# Eclipse
#######################

.project
.classpath
.settings/

#######################
# NetBeans
#######################

nbproject/

#######################
# Logs
#######################

logs/
*.log

#######################
# Environment
#######################

.env
.env.*

!.env.example

#######################
# Coverage
#######################

coverage/
jacoco.exec

#######################
# OS
#######################

.DS_Store
Thumbs.db
desktop.ini

#######################
# Temp
#######################

*.tmp
*.temp
*.swp
*.swo

#######################
# Java
#######################

*.class

#######################
# Archives
#######################

*.zip
*.tar
*.gz

#######################
# Local Maven cache
#######################

.mvn/cache/
.mvn/local-repository/



!.mvn/
!.mvn/wrapper/
!mvnw
!mvnw.cmd